body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #333;
}
p {
    font-size: 18px;
    color: #666;
}
input[type="text"] {
    width: 300px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
